body {
    font-family: "roboto", sans-serif;
    background-color: #f4f4f4;
}



/* USAR COSAS COMO VH VL QUE SON VIEWPORT HEIGHT Y LENGTH*/




a {
    text-decoration: none
}

h1 {
    font-size: 40px;
}

main {
    display: flex;
}

.contentcontainer {
    width: 88%;
}

aside{
    width: 17.923%;
    float: left;
    background-color: #4E4D7F;
    font-family: "roboto", sans-serif;
    order: -1;
}

.sidebar {
    width: 270px;
    position: sticky;
    top: 217px;
    margin-top: 80px;
    display: inline-block;
    color:white;
}
.sidebar p {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
a.sidebarlink {
    font-weight: bold;
    color:white;
    font-size: 23px;
}
.sidebar a:hover{
    color: rgb(23, 55, 23)
}
.contact {
    text-align: center;
    margin-top: 127px;
}
.contact a{
    color: white;
}
.contact p{
    margin-bottom: 7px;
}

.center {
    margin: 0 auto;
    width:66.6%;
    border: 1px solid #000
}

/* .thirdGlobal 

.thirdImages{
    width: 1152px;
    height: 326px;
    margin-left: 42px;
}


.thirdtext1{
    width: 325px;
}
.thirdtext2{
    width: 325px;
}
.thirdtext3{
    width: 325px;
}

.greentext{
    color: #AACB9E;
}
.thirdtext1, .thirdtext2, .thirdtext3 {
    background-color: white;
}
.membox {
    text-align: center;
    padding-top: 17px;
    margin-top: 50px;
    width: 325px;
    height: 79px;
    border-top: #000;
    border-style: solid none none none;
    border-width: 0.7px;
}
.greenbutton {
    width: 100%;
    height: 72px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #49A37B;
    border: none;
    font-size: 30px;
} */
.section5 {
    margin-top: 160px;
}
.section5 h2, .section5 p {
    display: inline-block;
}
.section5 h2 {
    font-size: 65px;
    width: 495px;
    font-weight: bold;
}
.section5 p {
    font-size: 32px;
    margin-top: 19px;
}
.section5 img {
    display: inline-block;
    width: 320px;
    height: 320px;
    margin-top: 69px;
    margin-left: 136px;
}
.section51 {
    width: 1244px;
    height: 508px;
    background-color: #AACE9B;
}
.section52 {
    width: 1244px;
    height: 508px;
    background-color: #373867;
}
.section53 {
    width: 1244px;
    height: 508px;
    background-color: white;
}
.section54 {
    width: 1244px;
    height: 508px;
    background-color: #919194;
}
.section511 {
    display: inline-block;
    width: 530px;
    margin-top: 91px;
    margin-left: 118px;
}
.section521 {
    display: inline-block;
    width: 530px;
    margin-top: 91px;
    margin-left: 118px;
}
.section531 {
    display: inline-block;
    width: 530px;
    margin-top: 91px;
    margin-left: 118px;
}
.section541 {
    display: inline-block;
    width: 530px;
    margin-top: 91px;
    margin-left: 118px;
}
.section511 h2, .section511 p, .section521 h2, .section521 p {
    color: white;
}
.section531 h2, .section531 p, .section541 h2, .section541 p {
    color: #373867;
}
.section6{
    background-color: #979797;
    padding: 100px 0px;
}
form {
    width: 665px;
    height: 694px;
    background-color: white;
    border-radius: 20px;
    margin: 290px auto;
}
form h3 {
    font-size: 32px;
    color: #373867;
    font-weight: bolder;
    text-align: center;
    padding-top: 36px;
    margin-bottom: 27px;
}
.input1, .input2, .input3 {
    border-radius: 5px;
    display: inline-block;
    margin-left: 45px;
    font-size: 14px;
    color: #373867;
    font-weight: bold;
    border-color: #373867;
    border-style: solid;
    border-width: 1.3px;
}
.input1{
    width: 223px;
    height: 21px;
    margin-bottom: 17px;
}
.input2{
    width: 307px;
    height: 21px;
}
.input3{
    width: 392px;
    height: 21px;
    margin-bottom: 63px;
    margin-left: 113px;
}
.name {
    margin-left: 77px;
    margin-bottom: 55px
}
.name input {
    margin-left: 39px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 197px;
}
.email {
    margin-left: 113px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 439px;
    margin-bottom: 55px
}
.comentary {
    margin-left: 113px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 439px;
    height: 139px;
    resize: none;
    box-sizing: border-box;
}
.greenbutton2{
    margin-top: 43px;
    margin-left: 254px;
    width: 156px;
    height: 35px;
    background-color: #AACE9B;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}






/*Estilos de mobile*/

@media(min-width: 390px) and (max-width: 600px){
    .contentcontainer {
        width: 100%;
    }
}
/*Estilos de tablet*/

@media(min-width: 601px) and (max-width: 1024px) {
    aside {
        height: 100%;
        min-width: 164px;
    }
}

/*Estilos de escritorio*/

@media(min-width: 1025px) {

    aside{
        height: 7764px;
    }

}