body {
    font-family: "roboto", sans-serif;
    background-color: #f4f4f4;
}



/* USAR COSAS COMO VH VL QUE SON VIEWPORT HEIGHT Y LENGTH*/




a {
    text-decoration: none
}

h1 {
    font-size: 40px;
}

main {
    display: flex;
}

.contentcontainer {
    width: 88%;
}

aside{
    width: 17.923%;
    float: left;
    background-color: #4E4D7F;
    font-family: "roboto", sans-serif;
    order: -1;
}

.sidebar {
    width: 270px;
    position: sticky;
    top: 217px;
    margin-top: 80px;
    display: inline-block;
    color:white;
}
.sidebar p {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
a.sidebarlink {
    font-weight: bold;
    color:white;
    font-size: 23px;
}
.sidebar a:hover{
    color: rgb(23, 55, 23)
}
.contact {
    text-align: center;
    margin-top: 127px;
}
.contact a{
    color: white;
}
.contact p{
    margin-bottom: 7px;
}

.center {
    margin: 0 auto;
    width:66.6%;
    border: 1px solid #000
}




.universeGlobal1 .universeText h2, .universeText p, .universeGlobal2 .universeText h2, .universeText p {
    color: white;
}
.universeGlobal3 .universeText h2, .universeText p, .universeGlobal4 .universeText h2, .universeText p {
    color: #373867;
}
.questions{
    background-color: #979797;
    padding: 100px 0px;
}
form {
    width: 665px;
    height: 694px;
    background-color: white;
    border-radius: 20px;
    margin: 290px auto;
}
form h3 {
    font-size: 32px;
    color: #373867;
    font-weight: bolder;
    text-align: center;
    padding-top: 36px;
    margin-bottom: 27px;
}
.input1, .input2, .input3 {
    border-radius: 5px;
    display: inline-block;
    margin-left: 45px;
    font-size: 14px;
    color: #373867;
    font-weight: bold;
    border-color: #373867;
    border-style: solid;
    border-width: 1.3px;
}
.input1{
    width: 223px;
    height: 21px;
    margin-bottom: 17px;
}
.input2{
    width: 307px;
    height: 21px;
}
.input3{
    width: 392px;
    height: 21px;
    margin-bottom: 63px;
    margin-left: 113px;
}
.name {
    margin-left: 77px;
    margin-bottom: 55px
}
.name input {
    margin-left: 39px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 197px;
}
.email {
    margin-left: 113px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 439px;
    margin-bottom: 55px
}
.comentary {
    margin-left: 113px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #373867;
    width: 439px;
    height: 139px;
    resize: none;
    box-sizing: border-box;
}
.greenbutton2{
    margin-top: 43px;
    margin-left: 254px;
    width: 156px;
    height: 35px;
    background-color: #AACE9B;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}






/*Estilos de mobile*/

@media(min-width: 390px) and (max-width: 600px){
    .contentcontainer {
        width: 100%;
    }
}
/*Estilos de tablet*/

@media(min-width: 601px) and (max-width: 1024px) {
    aside {
        height: 100%;
        min-width: 164px;
    }
}

/*Estilos de escritorio*/

@media(min-width: 1025px) {

    aside{
        height: 7764px;
    }

}