header {
    color:#373867;
    height: 17.93%;
    width: 100%;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header h1 {
    font-size: 20px;
}

header p{
    font-size: 9px;
}

header img {
    margin-left: 3.04%;
    height: 64px;
    width: 57px;
}

.hamburger {
    width: 24px;
    height: 24px;
}






/*Estilos de mobile*/

@media(min-width: 390px) and (max-width: 600px){

}

/*Estilos de tablet*/

@media(min-width: 601px) and (max-width: 1024px) {
    
}

/*Estilos de escritorio*/

@media(min-width: 1025px) {
    .hamburger {
        display: none;
    }
    header {
        justify-content: flex-start;
    }
    header div {
        margin: auto;
    }
}