.banner {
    text-align: center;
    background-image: url(../../Assets/Images/blue-gym-banner.png);
    background-size: cover;
    background-position: 50%;
    height: 245px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}
.banner h2{
    font-size: 19px;
    font-weight: bold;
}
.banner p{
    font-size: 10px;
    margin: 0 25%;
}


.why {
    color: #373867;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-text {
    margin: 14% 0;
    display: flex;
    row-gap: 1vh;
    flex-direction: column;
    justify-content: center;
}

.why-text h2{
    font-size: 20;
}
.why-text p {
    font-size: 15px;
    width: 309px;
}
.why img {
    width: 577px;
}

.join {
    margin-top: 46px;
}

.join h2 {
    background-color: #373867;
    color: white;
    font-size: 20px;
    padding: 17px 54px 19px 69px;
    display: inline;
}

.join-images {
    width: 290px;
    height: 1430px;
    margin: 60px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.join-images img{
    width: 270px;
}

.membership {
    margin-top: 108px;
    height: 2490px;
}

.membership h2 {
    background-color: #373867;
    color: white;
    font-size: 20px;
    padding-top: 18px;
    padding-left: 18px;
    width: 318px;
    height: 40px;
}

.membGlobal {
    display: flex;
    flex-direction: column;
    color: #373867;
}


.membItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 747px;
    margin-top: 100px;
}

.membImage {
    width: 100vw;
    height: 350px;
}

.membDescription {
    width: 75vw;
    height: 430px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.membDescription ul {
    list-style-image: url(../../Assets/Images/Vector\ 20.png);
    padding: 0px 4px 0px 40px;
}

.membDescription h3 {
    font-size: 30px;
    text-align: center;
}

.greentext{
    color: #AACB9E;
}

.rectangle{
    width: 100%;
    height: 46px;
    background-color:#AFAFC2;
}

.membox {
    text-align: center;
    width: 100%;
    border-top: #000;
    border-style: solid none none none;
    border-width: 0.7px;
}

.greenbutton {
    width: 100%;
    height: 72px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #49A37B;
    border: none;
    font-size: 30px;
}

.universe {
    margin-top: 160px;
}


.universeGlobal1 {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    background-color: #AACE9B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.universeGlobal2 {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    background-color: #373867;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.universeGlobal3 {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.universeGlobal4 {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    background-color: #919194;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.universeGlobal1 .universeText h2, .universeGlobal1 .universeText p, .universeGlobal2 .universeText h2, .universeGlobal2 .universeText p {
    color: white;
}
.universeGlobal3 .universeText h2, .universeGlobal3 .universeText p, .universeGlobal4 .universeText h2, .universeGlobal4 .universeText p {
    color: #373867;
}

.universeText {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.universeText h2 {
    font-size: 52px;
    width: 258px;
    font-weight: bold;
}

.universeText p {
    font-size: 20px;
    margin-top: 19px;
}

.universe img {
    width: 128px;
    height: 128px;
    margin-top: 30px;
    margin-bottom: 75px;
}



/*Estilos de mobile*/

@media(min-width: 390px) and (max-width: 600px){
    aside {
        display: none;
    }
    .why-text {
        text-align: center;
    }
    .why img {
        display: none;
    }
}

/*Estilos de tablet*/

@media(min-width: 601px) and (max-width: 1024px) {
    aside {
        display: none;
    }
}

/*Estilos de escritorio*/

@media(min-width: 1025px) {
    .join h2 {
        font-size: 40px;
        padding: 32px 111px 33px 179px;
        display: inline;
    }

    .join-images img{
        width: 481px;
        height: 491px
    }

    .join-images {
        width: 966px;
        height: 1500px;
        margin: 108px auto 0px auto;
    }

    .membership {
        margin-top: 108px;
        height: 1043px;
    }
    .membership h2 {
        font-size: 40px;
        width: 700px;
        height: 112px;
        padding: 32px 111px 33px 179px;
        display: inline;
    }

    .universe h2 {
        font-size: 65px;
        width: 495px;
        font-weight: bold;
    }
    
    .universe p {
        font-size: 32px;
        margin-top: 19px;
    }
    
    .universe img {
        width: 320px;
        height: 320px;
        margin-top: 69px;
        margin-left: 136px;
        margin-bottom: 75px;
    }
}