body {
    font-family: "roboto", sans-serif;
    background-color: #f4f4f4;
    display: flex;
}

a {
    text-decoration: none
}

aside{
    width: 18.61%;
    background-color: #373867;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 7%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoLogo{
    width: 41%;
}

#nameLogo{
    width: 85%;
}

nav{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 2.2vw;
}

#general{
    width: 81.39%;
    display: flex;
    flex-direction: column;
}

header{
    height: 20.4%;
    background-color: #49A37B;
}

main{
    width: 100%;
    height: 79.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainSquare {
    width: 40%;
    height: 74%;
    border-style: solid;
    border-width: 1.2px;
    border-color: black;
    display: flex;
    flex-direction: column;
    background-color: #AFAFAF;
}

.squareHeader {
    height: 19.5%;
    background-color: #373867;
    display: flex;
    align-items: center;
    justify-content: center;
}

.squareHeader p{
    color: white;
    font-size: 1.7vw;
}

#squareForm {
    height: 80.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formDiv{
    height: 14%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.formDiv label{
    font-weight: bold;
}

#alert{
    color: #db0000;
    font-weight: bold;
    visibility: hidden;
}

#alertPassword{
    color: #db0000;
    font-weight: bold;
    visibility: hidden;
}

#button {
    width: 20%;
    height: 70%;
    border-radius: 5%;
}

.redBorder {
    border: 2.5px solid red;
}